.activeLink {
    /* text-decoration: none; */
    color:red;
}

.normalLink {
    text-decoration: wavy;
    font-size: 25px;
    font-family: serif
}

#container {
    width: 90%;
}

#header {
    /* background-color: rgb(199, 190, 248); */
    /* background-color: #602687; */
    background-color: rgb(54, 52, 52);
    width: 100%;
    position: fixed;
    padding: 20px;
    z-index: 100;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
