.activeLink {
    /* text-decoration: none; */
    color:red;
}

.normalLink {
    text-decoration: wavy;
    font-size: 25px;
    font-family: serif
}

.normalLink:hover{
    color : #ff4ffa ;
    text-decoration: underline; 
    text-underline-offset: 10px;
}

#container {
    width: 90%;
}

#header {
    /* background-color: rgb(199, 190, 248); */
    /* background-color: #602687; */
    display: grid;
    background-color: rgb(54, 52, 52);
    width: 100%;
    position: fixed;
    padding: 20px;
    z-index: 100;
    grid-template-columns: repeat(1,250px 1fr);
}

.main-nav {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
